<header id="header">
    <nav class="main" id="mainMenu">
        <div>
            <a id="lienLogo" href="/recherche" title="Accueil">
                <img src="./assets/images/coLibris-header.png">
            </a>
            <h1>{{title}}</h1>
        </div>
        <!-- Menu professeur -->
        <ul *ngIf="authService.profAuth">
            <li>
                <a href="/recherche" title="Chercher une série dans l'application">
                <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href="/series" title="Chercher une série dans l'application">
                <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href="docu_tabBordStatut.html" title="Tableau de bord - Statut">
                <i class="fas fa-book"></i>
                </a>
            </li>
            <li>
                <a href="parametres.html" title="Paramètres">
                <i class="fas fa-cog"></i>
                </a>
            </li>
            <li>
                <a routerLink="connexion" title="Déconnexion">
                <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
            <li>
                <a href="../index.html" title="Déconnexion">
                <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
        <!-- Menu documentaliste -->
        <ul *ngIf="authService.docuAuth">
            <li>
                <a href="/recherche" title="Chercher une série dans l'application">
                <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href="/series" title="Chercher une série dans l'application">
                <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href="/requetes" title="Gestion des demandes">
                <i class="fas fa-comments"></i>
                </a>
            </li>
            <li>
                <a href="/creaSerie" title="Créer une série">
                <i class="fas fa-plus-square"></i>
                </a>
            </li>
            <li>
                <a href="docu_tabBordStatut.html" title="Tableau de bord - Statut">
                <i class="fas fa-book"></i>
                </a>
            </li>
            <li>
                <a href="parametres.html" title="Paramètres">
                <i class="fas fa-cog"></i>
                </a>
            </li>
            <li>
                <a routerLink="utilisateurs" title="Utilisateurs">
                <i class="fas fa-users"></i>
                </a>
            </li>
            <li>
                <a routerLink="connexion" title="Déconnexion">
                <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
            <li>
                <a href="../index.html" title="Déconnexion">
                <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
        <!-- Menu administrateur -->
        <ul *ngIf="authService.adminAuth">
            <li>
                <a href="/recherche" title="Chercher une série dans l'application">
                <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href="/series" title="Chercher une série dans l'application">
                <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href="docu_tabBordStatut.html" title="Tableau de bord - Statut">
                <i class="fas fa-book"></i>
                </a>
            </li>
            <li>
                <a href="parametres.html" title="Paramètres">
                <i class="fas fa-cog"></i>
                </a>
            </li>
            <li>
                <a routerLink="utilisateurs" title="Utilisateurs">
                <i class="fas fa-users"></i>
                </a>
            </li>
            <li>
                <a routerLink="connexion" title="Déconnexion">
                <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
            <li>
                <a href="../index.html" title="Déconnexion">
                <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>