<div class="search-box">
    <!-- Barre de recherche *************************************-->
    <div class="search-bar">
        <input type="text" class="input-search" [(ngModel)]='critereFiltre' placeholder="Rechercher...">
        <span class="input-group-btn">
            <button id="boutonRechercher" class="btn" type="button">Rechercher</button>
        </span>
    </div>

    <!-- Critères de recherche **********************************-->
    <div class="advance-search">
        <form>
            <label for="nbEx">Nombre d'exemplaires</label>
            <input class="formInput formNumber" type="number" name="points" step="1">
        </form>
        <div class="formRaw formSelect" style="width:330px">
            <label>Niveau(x)</label>
            <label class="container">6<sup>ème</sup>
                <input type="checkbox" name="interest" value="6">
                <span class="checkmark select"></span>
            </label>
            <label class="container">5<sup>ème</sup>
                <input type="checkbox" name="interest" value=5>
                <span class="checkmark select"></span>
            </label>
            <label class="container">4<sup>ème</sup>
                <input type="checkbox" name="interest" value="4">
                <span class="checkmark select"></span>
            </label>
            <label class="container">3<sup>ème</sup>
                <input type="checkbox" name="interest" value="3">
                <span class="checkmark select"></span>
            </label>
        </div>

        <div class="dropdown"></div>
    </div>
    
    <!-- Date slider ********************************************-->
    <div id="slider"></div>
</div>

<div id="zoneSearchResult">
    <article *ngFor="let edition of (serieService.listeEditions | filtreSeries:critereFiltre); let i = index">
    <!-- <article *ngFor="let s of serieService.listeSeries; let i = index"> -->
        <div class="ficheContain">
            <div class="article-left">
                <img [src]="edition.cover" alt="Couverture du livre">
                <div>
                    <div class="titleArticle">
                        <h2>{{ edition.title }}</h2>
                        <h3>{{ edition.author }}</h3>
                    </div>
                    <div class="containMenu">
                        <ul>
                            <li>Edition : {{ serieService.listeEditeurs[edition.publisher].name }}</li>
                            <li>Collection : {{ serieService.listeEditeurs[edition.publisher].collection[edition.collection] }}</li>
                            <li>ISBN 13 : {{ edition.ISBN13 }}</li>
                        </ul>
                        <ul>
                            <li>Langue : {{ edition.language }}</li>
                            <li>{{ edition.pages }} pages</li>
                            <li>{{ edition.publishedDate | date:'dd MMMM yyyy' }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="article-right">
                <ul>
                    <li><i class="fas fa-plus" title="Ajouter"></i></li>
                    <li><a href [routerLink]="['/series', i]"><i class="fas fa-pencil-alt" title="Modifier"></i></a></li>
                    <li><i class="fas fa-angle-down" title="Ouvrir"></i></li>
                </ul>
            </div>
        </div>
        <!-- Date slider ********************************************-->
        <div id="sliderDispo" class="ui1-rangeSlider">
            <div class="ui1-rangeSlider-container">
                <div class="ui1-rangeSlider-innerBar">
                    <div class="ui1-ruler-scale">
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 9.7866%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">sept.</span></div>
                        </div>
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 10.1264%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">oct.</span></div>
                        </div>
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 9.7866%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">nov.</span></div>
                        </div>
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 10.1128%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">déc.</span></div>
                        </div>
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 10.1128%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">janv.</span></div>
                        </div>
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 9.13416%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">févr.</span></div>
                        </div>
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 10.0992%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">mars</span></div>
                        </div>
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 9.7866%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">avr.</span></div>
                        </div>
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 10.1128%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">mai</span></div>
                        </div>
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 9.7866%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">juin</span></div>
                        </div>
                        <div class="ui1-ruler-tick" style="display: inline-block; width: 1.15536%;">
                            <div class="ui1-ruler-tick-inner"><span class="ui1-ruler-tick-label">juill.</span></div>
                        </div>
                    </div>
                </div>
                <div class="ui1-rangeSlider-bar" style="width: 10%; left: 63%;"></div>
                <div class="ui1-rangeSlider-bar" style="width: 20%; left: 10%;"></div>
            </div>
        </div>
    </article>
</div>
